* {margin: 0; padding: 0; box-sizing: border-box; font-family: Verdana, Geneva, Tahoma, sans-serif}
body {background: url(img/gremio.jpg); width: 100%; height: auto; background-size: cover}

@media (max-width: 600px)
{
/* encabezado*/
header {width: 100%; height: auto; display: flex; justify-content: center; flex-direction: column}
.logo-m {width: 100%}
.menu {width: 100%; background: rgba(255, 255, 255, 0.8); box-sizing: border-box; border-bottom: 1px solid rgba(0, 0, 0, 0.2)}
.logo {width: 100%; height: auto}
nav {width: 100%; display: flex;justify-content: center}
.sub-nav {margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: space-around; text-align: center}
.list {list-style: none}
.link {display: block; color: #000;font-weight: bold; padding: 10px; text-decoration: none}
.link-in {display: block; font-weight: bold; padding: 10px; text-decoration: none; color: #000}
.link:hover, .link-in:hover {background: rgb(24, 51, 101); color: #fff}
.sub-m {display: block; background: rgba(255, 255, 255, 0.8); min-width: 250px; position: absolute; margin-top: 1px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); transition: 0.5s; opacity: 0; visibility: hidden; transform: translateY(40px)}
.list:hover .sub-m {opacity: 1; visibility: visible; transform: translateY(0px)}   


/*contenido - inicio*/
.welcome {padding: 20px; text-align: justify; display: flex; flex-direction: column; justify-content: space-around;}
.intro {width: 100%; padding: 20px 10px; background: rgba(255, 255, 255, 0.5); border-radius: 10px;}
.photo {width: 100%; height: auto; background: #fff; padding: 2.5px; border: 1.5px solid rgb(100, 100, 100); border-radius: 3.5px;}
.more {background: transparent; border: transparent; border-radius: 2.5px; padding: 8px;}
.more:hover {background: rgb(0, 0, 0); color: #fff}
.levels {width: 100%; height: auto; display: flex; flex-direction: row; justify-content: space-evenly; padding-top: 50px; padding-bottom: 50px}
a {text-decoration: none; box-sizing: border-box}
.grado1 {background: rgb(199, 68, 68); padding: 10px 30px; border-radius: 3px; box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.8); color: #fff}
.grado1:hover {background: rgb(214, 6, 6); box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.8); color: #fff; border: 1px solid #000; transform: translateX(10px) translateY(5px)}
.grado2 {background: rgb(199, 68, 68); padding: 10px 30px; border-radius: 3px; box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.8); color: #fff}
.grado2:hover {background: rgb(214, 6, 6); box-shadow: 10px -10px 30px rgba(0, 0, 0, 0.8); color: #fff; border: 1px solid #000; transform: translateX(-10px) translateY(5px)}
.clubs {width: 100%; display: flex; flex-direction: row; justify-content: space-around; padding-top: 50px; padding-bottom: 50px}
.size {background: rgba(0, 0, 0, 0.625);color: #fff; padding: 20px; border-radius: 5px;}
.webs {width: 100%; height: auto; background: linear-gradient(90deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); color: #fff; padding: 50px;}
.icons {width: 100%; display: flex; flex-direction: row; justify-content: space-evenly}
.name { color: #fff}

/*contenido - quienes somos*/
.container-1 {width: auto; height: auto; background: rgba(255, 255, 255, 0.5); margin: 20px; padding: 20px; border-radius: 5px; box-sizing: border-box; box-shadow: 5px 5px 10px; text-align: justify}
.container-2 {background: rgba(80, 80, 80, 0.5); border: 1px solid #000; padding: 10px 20px}
.bubles {width: 100%; display: flex; flex-direction: row; justify-content: space-around}
.post { width: 20%;display: flex; flex-direction: column; text-align: center}
.teacher {width: 100%; height: auto; border-radius: 50%}

/*contenido-primaria*/
.container-3 {width: 100%; height: auto; display: flex; flex-direction: column; justify-content: space-between}
.curse {background: rgba(255, 255, 255, 0.5); border-radius: 3px; border: 1px solid #000; padding: 5px}
.schedule {width: 100%; height: auto; text-align: center; border: 1px solid #000; background: rgba(255, 255, 255, 0.5); border-radius: 3px}
.row-2 {width: 100%; display: flex; flex-direction: row; justify-content: space-around; text-align: justify}
hr {border-color: rgb(58, 192, 226); background: rgb(58, 192, 226)}
.c-2 {width: 16.525%; height: auto; text-align: justify}
.c-10 {width: 83.13%; height: auto}
.white {background-color: #fff}
.grey {background-color: rgb(170, 170, 170)}
.yellow {background-color: rgb(239, 233, 68)}

/*contenido - ubicacion*/
.map {width: auto; height: auto}
iframe {width: 100%; height: 100vh; border-radius: 8px}

/*contenido - contacto*/
.container-4 {width: auto; height: auto; box-sizing: border-box; justify-content: center; margin: 20px; display: flex; flex-direction: column}
.title {color: rgb(9, 144, 114);text-align: center}
.container-5 {width: 100%; display: flex; flex-direction: column; margin-top: 20px; padding-bottom: 20px; justify-content: space-around}
.form {width: 100%; display: flex; flex-direction: column; background: rgba(255, 255, 255, 0.5); padding: 20px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); border-radius: 10px}
.info {width: 100%; display: flex; flex-direction: column; background: rgba(255, 255, 255, 0.5); padding: 20px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); border-radius: 10px}
.input {width: 100%; display: flex; flex-direction: column; margin-bottom: 10px; padding-left: 10px}
#text {width: 100%}
.sub-title-2 {color: rgb(43, 120, 106); margin-top: 10px; margin-bottom: 5px;}
.box {padding: 10px; font-size: 15px; border: 1px solid rgb(109, 109, 109); border-radius: 5px; background: rgba(255, 255, 255, 0.6)}
.btn {background: rgb(1, 40, 68); color: #fff; border: none; font-size: 15px; cursor: pointer; border-radius: 5px;padding: 10px 20px}
.btn:hover {background: rgb(2, 77, 131); color: rgb(18, 166, 28); border: 1px solid #fff; font-size: 15px; max-width: 120px; cursor: pointer; border-radius: 5px}
.btn:active {color: rgb(35, 255, 50); border: 1px solid #000}
textarea {padding: 10px; font-size: 15px; outline: none; border: 1px solid rgb(109, 109, 109); min-height: 220px; margin-bottom: 10px; border-radius: 5px; background: rgba(255, 255, 255, 0.6)}
.infbox {display: flex; align-items: center; margin-bottom: 10px; flex-direction: column}
.sub-title-1 {color: rgb(0, 0, 0)}
.link-none {width: 100%; color: rgb(36, 127, 157); text-decoration: none; text-align: center}
.save {width: 100%; height: auto; background: rgba(0, 0, 0, 0.5); border-radius: 8px; box-shadow: 10px 10px 20px #000; display: flex; flex-direction: column; padding: 10px 20px}
.mid {width: 50%; color: #fff}
.out {width: 100%; background: transparent; color: #fff; border: none}
.line {width: 100%; height: auto; display: flex; flex-direction: column; color: #fff}
.row-1 {width: 100%; display: flex; flex-direction: column; justify-content: space-around; text-align: justify}

/*calculadora*/
.container {padding-top: 50px; display: flex; right: 70px; top: 460px; position: absolute; background: rgba(0, 0, 0, 0.75); border-radius: 6px; backdrop-filter: blur(15px); border-top: 1px solid rgba(255, 255, 255, 0.2); border-left: 1px solid rgba(255, 255, 255, 0.2); box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2)}
.calculadora {position: relative; display: grid}
.value {grid-column: span 4; height: 140px; width: 300px; text-align: right; border: none; outline: none; padding: 10px; font-size: 30px; background: transparent; color: #fff; border-bottom: 1px solid rgba(255, 255, 255, 0.05); border-right: 1px solid rgba(255, 255, 255, 0.05)}
.num {display: grid; place-items: center; width: 75px; height: 75px; color: #fff; font-weight: 400; cursor: pointer; font-size: 20px; user-select: none; border-bottom: 1px solid rgba(255, 255, 255, 0.05); border-right: 1px solid rgba(255, 255, 255, 0.05); transition: 0.5s} 
.num:hover {transition: 0s; background: rgba(255, 255, 255, 0.05)}
.num:active {background: rgb(22, 66, 97); color: rgb(1, 40, 68); font-size: 24px; font-weight: 500}
.clear {grid-column: span 2; width: 150px; background: rgba(255, 255, 255, 0.05)}
.plus {grid-row: span 2; height: 150px}
.equal {grid-column: span 2; width: 150px}
.calc {background: rgba(255, 255, 255, 0.5); width: 300px; padding: 10px; border: 1px solid #000; border-radius: 5px}

/*contenido - información adicional*/
.school-list {width: 100%; height: auto; border: 2px solid #000; border-radius: 5px}
.section-list {width: 100%; height: auto; background: rgba(0, 0, 0, 0.8); color: #fff; border: 1px solid #fff; padding: 10px}
.title-list {border: 1px solid #fff; background: rgb(98, 195, 29); text-align: center}
.row {width: 100%; display: flex; flex-direction: row; justify-content: space-around; text-align: justify}

/*contendio - registro*/
.register {width: 100%; height: auto; display: flex; flex-direction: column}
.section {width: 100%; display: flex; flex-direction: column}
.input-1 {width: 100%; display: flex; gap: 20px; flex-direction: column; margin-bottom: 10px; float: left; padding-left: 10px}
.input-2 {width: 100%; display: flex; flex-direction: row; margin-top:10px; justify-content: space-around}
}

@media (min-width: 601px) and (max-width: 1200px)
{
/* encabezado*/
header {width: 100%; height: auto; display: flex; justify-content: center; flex-direction: column}
.logo-m {width: 100%}
.menu {width: 100%; background: rgba(255, 255, 255, 0.8); box-sizing: border-box; border-bottom: 1px solid rgba(0, 0, 0, 0.2)}
.logo {width: 100%; height: auto}
nav {width: 100%; display: flex;justify-content: center}
.sub-nav {margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: space-around; text-align: center}
.list {list-style: none}
.link {display: block; color: #000;font-weight: bold; padding: 10px; text-decoration: none}
.link-in {display: block; font-weight: bold; padding: 10px; text-decoration: none; color: #000}
.link:hover, .link-in:hover {background: rgb(24, 51, 101); color: #fff}
.sub-m {display: block; background: rgba(255, 255, 255, 0.8); min-width: 250px; position: absolute; margin-top: 1px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); transition: 0.5s; opacity: 0; visibility: hidden; transform: translateY(40px)}
.list:hover .sub-m {opacity: 1; visibility: visible; transform: translateY(0px)}


/*contenido - inicio*/
.welcome {padding: 20px; text-align: justify; display: flex; flex-direction: column; justify-content: space-around;}
.intro {width: 100%; padding: 20px 10px; background: rgba(255, 255, 255, 0.5); border-radius: 10px;}
.photo {width: 100%; height: auto; background: #fff; padding: 2.5px; border: 1.5px solid rgb(100, 100, 100); border-radius: 3.5px;}
.more {background: transparent; border: transparent; border-radius: 2.5px; padding: 8px;}
.more:hover {background: rgb(0, 0, 0); color: #fff}
.levels {width: 100%; height: auto; display: flex; flex-direction: row; justify-content: space-evenly; padding-top: 50px; padding-bottom: 50px}
a {text-decoration: none; box-sizing: border-box}
.grado1 {background: rgb(199, 68, 68); padding: 10px 30px; border-radius: 3px; box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.8); color: #fff}
.grado1:hover {background: rgb(214, 6, 6); box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.8); color: #fff; border: 1px solid #000; transform: translateX(10px) translateY(5px)}
.grado2 {background: rgb(199, 68, 68); padding: 10px 30px; border-radius: 3px; box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.8); color: #fff}
.grado2:hover {background: rgb(214, 6, 6); box-shadow: 10px -10px 30px rgba(0, 0, 0, 0.8); color: #fff; border: 1px solid #000; transform: translateX(-10px) translateY(5px)}
.clubs {width: 100%; display: flex; flex-direction: row; justify-content: space-around; padding-top: 50px; padding-bottom: 50px}
.size {background: rgba(0, 0, 0, 0.625);color: #fff; padding: 20px; border-radius: 5px;}
.webs {width: 100%; height: auto; background: linear-gradient(90deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); color: #fff; padding: 50px;}
.icons {width: 100%; display: flex; flex-direction: row; justify-content: space-evenly}
.name { color: #fff}

/*contenido - quienes somos*/
.container-1 {width: auto; height: auto; background: rgba(255, 255, 255, 0.5); margin: 20px; padding: 20px; border-radius: 5px; box-sizing: border-box; box-shadow: 5px 5px 10px; text-align: justify}
.container-2 {background: rgba(80, 80, 80, 0.5); border: 1px solid #000; padding: 10px 20px}
.bubles {width: 100%; display: flex; flex-direction: row; justify-content: space-around}
.post { width: 20%;display: flex; flex-direction: column; text-align: center}
.teacher {width: 100%; height: auto; border-radius: 50%}

/*contenido-primaria*/
.container-3 {width: 100%; height: auto; display: flex; flex-direction: column; justify-content: space-between}
.curse {background: rgba(255, 255, 255, 0.5); border-radius: 3px; border: 1px solid #000; padding: 5px}
.schedule {width: 100%; height: auto; text-align: center; border: 1px solid #000; background: rgba(255, 255, 255, 0.5); border-radius: 3px}
hr {border-color: rgb(58, 192, 226); background: rgb(58, 192, 226)}
.c-2 {width: 16.525%; height: auto; text-align: center}
.c-10 {width: 83.13%; height: auto; text-align: center}
.white {background-color: #fff}
.grey {background-color: rgb(170, 170, 170)}
.yellow {background-color: rgb(239, 233, 68)}
.row-2 {width: 100%; display: flex; flex-direction: row; justify-content: space-around; text-align: center}

/*contenido - ubicacion*/
.map {width: auto; height: auto}
iframe {width: 100%; height: 100vh; border-radius: 8px}

/*contenido - contacto*/
.container-4 {width: auto; height: auto; box-sizing: border-box; justify-content: center; margin: 20px; display: flex; flex-direction: column}
.title {color: rgb(9, 144, 114);text-align: center}
.container-5 {width: 100%; display: flex; flex-direction: row; margin-top: 20px; padding-bottom: 20px; justify-content: space-around}
.form {width: 70%; display: flex; flex-direction: column; background: rgba(255, 255, 255, 0.5); padding: 20px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); border-radius: 10px}
.info {width: 30%; display: flex; flex-direction: column; background: rgba(255, 255, 255, 0.5); padding: 20px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); border-radius: 10px}
.input {width: 50%; display: flex; flex-direction: column; margin-bottom: 10px; padding-left: 10px; float: left}
#text {width: 100%}
.sub-title-2 {color: rgb(43, 120, 106); margin-top: 10px; margin-bottom: 5px;}
.box {padding: 10px; font-size: 15px; border: 1px solid rgb(109, 109, 109); border-radius: 5px; background: rgba(255, 255, 255, 0.6)}
.btn {background: rgb(1, 40, 68); color: #fff; border: none; font-size: 15px; cursor: pointer; border-radius: 5px;padding: 10px 20px}
.btn:hover {background: rgb(2, 77, 131); color: rgb(18, 166, 28); border: 1px solid #fff; font-size: 15px; max-width: 120px; cursor: pointer; border-radius: 5px}
.btn:active {color: rgb(35, 255, 50); border: 1px solid #000}
textarea {padding: 10px; font-size: 15px; outline: none; border: 1px solid rgb(109, 109, 109); min-height: 220px; margin-bottom: 10px; border-radius: 5px; background: rgba(255, 255, 255, 0.6)}
.infbox {display: flex; align-items: center; margin-bottom: 10px; flex-direction: column}
.sub-title-1 {color: rgb(0, 0, 0)}
.link-none {width: 100%; color: rgb(36, 127, 157); text-decoration: none; text-align: center}
.save {width: 100%; height: auto; background: rgba(0, 0, 0, 0.5); border-radius: 8px; box-shadow: 10px 10px 20px #000; display: flex; flex-direction: column; padding: 10px 20px}
.mid {width: 50%; color: #fff}
.out {width: 100%; background: transparent; color: #fff; border: none}
.line {width: 100%; height: auto; display: flex; flex-direction: column; color: #fff}
.row-1 {width: 100%; display: flex; flex-direction: row; justify-content: space-around; text-align: justify}

/*calculadora*/
.container {display: flex; top: 650px; left: 150px; padding-top: 50px; position: absolute; background: rgba(0, 0, 0, 0.75); border-radius: 6px; backdrop-filter: blur(15px); border-top: 1px solid rgba(255, 255, 255, 0.2); border-left: 1px solid rgba(255, 255, 255, 0.2); box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2)}
.calculadora {position: relative; display: grid}
.value {grid-column: span 4; height: 140px; width: 300px; text-align: right; border: none; outline: none; padding: 10px; font-size: 30px; background: transparent; color: #fff; border-bottom: 1px solid rgba(255, 255, 255, 0.05); border-right: 1px solid rgba(255, 255, 255, 0.05)}
.num {display: grid; place-items: center; width: 75px; height: 75px; color: #fff; font-weight: 400; cursor: pointer; font-size: 20px; user-select: none; border-bottom: 1px solid rgba(255, 255, 255, 0.05); border-right: 1px solid rgba(255, 255, 255, 0.05); transition: 0.5s} 
.num:hover {transition: 0s; background: rgba(255, 255, 255, 0.05)}
.num:active {background: rgb(22, 66, 97); color: rgb(1, 40, 68); font-size: 24px; font-weight: 500}
.clear {grid-column: span 2; width: 150px; background: rgba(255, 255, 255, 0.05)}
.plus {grid-row: span 2; height: 150px}
.equal {grid-column: span 2; width: 150px}
.calc {background: rgba(255, 255, 255, 0.5); width: 300px; padding: 10px; border: 1px solid #000; border-radius: 5px}

/*contenido - información adicional*/
.school-list {width: 100%; height: auto; border: 2px solid #000; border-radius: 5px}
.section-list {width: 100%; height: auto; background: rgba(0, 0, 0, 0.8); color: #fff; border: 1px solid #fff; padding: 10px}
.title-list {border: 1px solid #fff; background: rgb(98, 195, 29); text-align: center}
.row {width: 100%; display: flex; flex-direction: row; justify-content: space-around; text-align: justify}

/*contendio - registro*/
.register {width: 100%; height: auto; display: flex; flex-direction: column}
.section {width: 100%; display: flex; flex-direction: column}
.input-1 {width: 100%; display: flex; gap: 20px; flex-direction: column; margin-bottom: 10px; float: left; padding-left: 10px}
.input-2 {width: 100%; display: flex; flex-direction: row; margin-top:10px; justify-content: space-around}
}

@media (min-width: 1201px)
{
/* encabezado*/
header {width: 100%; height: auto; display: flex}
.logo-m {width: 20%}
.menu {width: 100%; background: rgba(255, 255, 255, 0.8); box-sizing: border-box; border-bottom: 1px solid rgba(0, 0, 0, 0.2); display: flex; justify-content: center; flex-direction: row}
.logo {width: 100%; height: auto; align-content: center;}
nav {width: 70%; display: flex}
.sub-nav {width: 100%; margin: 0; padding: 0; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center}
.list {list-style: none}
.link {display: block; color: #000;font-weight: bold; padding: 10px; text-decoration: none}
.link-in {display: block; font-weight: bold; padding: 10px; text-decoration: none; color: #000}
.link:hover, .link-in:hover {background: rgb(24, 51, 101); color: #fff; border-radius: 50%; padding:20px; box-shadow: 0px 10px 10px #000;}
.sub-m {display: block; background: rgba(255, 255, 255, 0.8); min-width: 250px; position: absolute; margin-top: 1px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); transition: 0.5s; opacity: 0; visibility: hidden; transform: translateY(40px)}
.list:hover .sub-m {opacity: 1; visibility: visible; transform: translateY(0px)}


/*contenido - inicio*/
.welcome {margin-top: 50px; padding: 20px; text-align: justify; display: flex; flex-direction: row; justify-content: space-around;}
.intro {width: 60%; padding: 20px; background: rgba(255, 255, 255, 0.5); border-radius: 10px;}
.photo {width: 30%; height: auto; background: #fff; padding: 2.5px; border: 1.5px solid rgb(100, 100, 100); border-radius: 3.5px;}
.more {background: transparent; border: transparent; border-radius: 2.5px; padding: 8px;}
.more:hover {background: rgb(0, 0, 0); color: #fff}
.levels {width: 100%; height: auto; display: flex; flex-direction: row; justify-content: space-evenly; padding-top: 50px; padding-bottom: 50px}
a {text-decoration: none; box-sizing: border-box}
.grado1 {background: rgb(199, 68, 68); padding: 10px 30px; border-radius: 3px; box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.8); color: #fff}
.grado1:hover {background: rgb(214, 6, 6); box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.8); color: #fff; border: 1px solid #000; transform: translateX(10px) translateY(5px)}
.grado2 {background: rgb(199, 68, 68); padding: 10px 30px; border-radius: 3px; box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.8); color: #fff}
.grado2:hover {background: rgb(214, 6, 6); box-shadow: 10px -10px 30px rgba(0, 0, 0, 0.8); color: #fff; border: 1px solid #000; transform: translateX(-10px) translateY(5px)}
.clubs {width: 100%; display: flex; flex-direction: row; justify-content: space-around; padding-top: 50px; padding-bottom: 50px}
.size {background: rgba(0, 0, 0, 0.625);color: #fff; padding: 20px; border-radius: 5px;}
.webs {width: 100%; height: auto; background: linear-gradient(90deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); color: #fff; padding: 50px;}
.icons {width: 100%; display: flex; flex-direction: row; justify-content: space-evenly}
.name { color: #fff}

/*contenido - quienes somos*/
.container-1 {width: auto; height: auto; background: rgba(255, 255, 255, 0.5); margin: 20px; padding: 20px; border-radius: 5px; box-sizing: border-box; box-shadow: 5px 5px 10px; text-align: justify}
.container-2 {background: rgba(80, 80, 80, 0.5); border: 1px solid #000; padding: 10px 20px}
.bubles {width: 100%; display: flex; flex-direction: row; justify-content: space-around}
.post { width: 20%;display: flex; flex-direction: column; text-align: center}
.teacher {width: 100%; height: auto; border-radius: 50%}

/*contenido-primaria*/
.container-3 {width: 100%; height: auto; display: flex; flex-direction: row; justify-content: space-between}
.curse {background: rgba(255, 255, 255, 0.5); border-radius: 3px; border: 1px solid #000; padding: 5px}
.schedule {width: 100%; height: auto; text-align: center; border: 1px solid #000; background: rgba(255, 255, 255, 0.5); border-radius: 3px}
hr {border-color: rgb(58, 192, 226); background: rgb(58, 192, 226)}
.c-2 {width: 16.525%; height: auto; text-align: center}
.c-10 {width: 83.13%; height: auto; text-align: center}
.white {background-color: #fff}
.grey {background-color: rgb(170, 170, 170)}
.yellow {background-color: rgb(239, 233, 68)}
.row-2 {width: 100%; display: flex; flex-direction: row; justify-content: space-around; text-align: center}

/*contenido - ubicacion*/
.map {width: auto; height: auto}
iframe {width: 100%; height: 100vh; border-radius: 8px}

/*contenido - contacto*/
.container-4 {width: auto; height: auto; box-sizing: border-box; justify-content: center; margin: 20px; display: flex; flex-direction: column}
.title {color: rgb(9, 144, 114);text-align: center}
.container-5 {width: 100%; display: flex; flex-direction: row; margin-top: 20px; padding-bottom: 20px; justify-content: space-evenly}
.form {width: 65%; display: flex; flex-direction: column; background: rgba(255, 255, 255, 0.5); padding: 20px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); border-radius: 10px}
.info {width: 25%; display: flex; flex-direction: column; background: rgba(255, 255, 255, 0.5); padding: 20px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); border-radius: 10px}
.input {width: 50%; display: flex; flex-direction: column; margin-bottom: 10px; padding-left: 10px; float: left}
#text {width: 100%}
.sub-title-2 {color: rgb(43, 120, 106); margin-top: 10px; margin-bottom: 5px;}
.box {padding: 10px; font-size: 15px; border: 1px solid rgb(109, 109, 109); border-radius: 5px; background: rgba(255, 255, 255, 0.6)}
.btn {background: rgb(1, 40, 68); color: #fff; border: none; font-size: 15px; cursor: pointer; border-radius: 5px;padding: 10px 20px}
.btn:hover {background: rgb(2, 77, 131); color: rgb(18, 166, 28); border: 1px solid #fff; font-size: 15px; max-width: 120px; cursor: pointer; border-radius: 5px}
.btn:active {color: rgb(35, 255, 50); border: 1px solid #000}
textarea {padding: 10px; font-size: 15px; outline: none; border: 1px solid rgb(109, 109, 109); min-height: 220px; margin-bottom: 10px; border-radius: 5px; background: rgba(255, 255, 255, 0.6)}
.infbox {display: flex; align-items: center; margin-bottom: 10px; flex-direction: column}
.sub-title-1 {color: rgb(0, 0, 0)}
.link-none {width: 100%; color: rgb(36, 127, 157); text-decoration: none; text-align: center}
.save {width: 100%; height: auto; background: rgba(0, 0, 0, 0.5); border-radius: 8px; box-shadow: 10px 10px 20px #000; display: flex; flex-direction: column; padding: 10px 20px}
.mid {width: 50%; color: #fff}
.out {width: 100%; background: transparent; color: #fff; border: none}
.line {width: 100%; height: auto; display: flex; flex-direction: column; color: #fff}
.row-1 {width: 100%; display: flex; flex-direction: row; justify-content: space-around; text-align: justify}

/*calculadora*/
.container {display: flex; top: 180px; left: 20px; padding-top: 50px; position: absolute; background: rgba(0, 0, 0, 0.75); border-radius: 6px; backdrop-filter: blur(15px); border-top: 1px solid rgba(255, 255, 255, 0.2); border-left: 1px solid rgba(255, 255, 255, 0.2); box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2)}
.calculadora {position: relative; display: grid}
.value {grid-column: span 4; height: 140px; width: 300px; text-align: right; border: none; outline: none; padding: 10px; font-size: 30px; background: transparent; color: #fff; border-bottom: 1px solid rgba(255, 255, 255, 0.05); border-right: 1px solid rgba(255, 255, 255, 0.05)}
.num {display: grid; place-items: center; width: 75px; height: 75px; color: #fff; font-weight: 400; cursor: pointer; font-size: 20px; user-select: none; border-bottom: 1px solid rgba(255, 255, 255, 0.05); border-right: 1px solid rgba(255, 255, 255, 0.05); transition: 0.5s} 
.num:hover {transition: 0s; background: rgba(255, 255, 255, 0.05)}
.num:active {background: rgb(22, 66, 97); color: rgb(1, 40, 68); font-size: 24px; font-weight: 500}
.clear {grid-column: span 2; width: 150px; background: rgba(255, 255, 255, 0.05)}
.plus {grid-row: span 2; height: 150px}
.equal {grid-column: span 2; width: 150px}
.calc {background: rgba(255, 255, 255, 0.5); width: 300px; padding: 10px; border: 1px solid #000; border-radius: 5px}

/*contenido - información adicional*/
.school-list {width: 100%; height: auto; border: 2px solid #000; border-radius: 5px}
.section-list {width: 100%; height: auto; background: rgba(0, 0, 0, 0.8); color: #fff; border: 1px solid #fff; padding: 10px}
.title-list {border: 1px solid #fff; background: rgb(98, 195, 29); text-align: center}
.row {width: 100%; display: flex; flex-direction: row; justify-content: space-around; text-align: justify}

/*contendio - registro*/
.register {width: 100%; height: auto; display: flex; flex-direction: column}
.section {width: 100%; display: flex}
.input-1 {width: 100%; display: flex; gap: 20px; flex-direction: column; margin-bottom: 10px; float: left; padding-left: 10px}
.input-2 {width: 100%; display: flex; flex-direction: row; margin-top:10px; justify-content: space-evenly}
}